
h1{
    background-color: blue; 
    color: white; 
    text-align: center;
}
    
p{
    font-size: 20px;
    color: rgb(224, 43, 7);
    text-align: justify;
}

body{
    background-color: rgb(175, 136, 82);
}

.new-h1{
    background-color: rgb(30, 237, 30);
    color: rgb(8, 1, 1);
    text-align: center;
}